.documentation-page {
  display: grid;
  grid-template-areas: "menu content toc";
  grid-template-columns: 300px 1fr 200px;
  width: 100%;
}

.documentation-page__content {
  grid-area: content;
  padding: var(--spacing-2x);
}

.documentation-page__menu {
  display: flex;
  flex-direction: column;
  grid-area: menu;
  padding: var(--spacing-2x) var(--spacing-base);
  row-gap: var(--spacing-2x);
}

.documentation-page__menu__link {
  border: 2px solid transparent;
  padding: var(--spacing-half) var(--spacing-base);
  text-decoration: none;
}

.documentation-page__menu__link.documentation-page__menu__link--active {
  background-color: var(--color-highlight);
  border-color: var(--color-border);
  border-radius: 20px 20% 20px 20px;
}

.documentation-page__menu__section {
  display: flex;
  flex-direction: column;
}

.documentation-page__menu__section__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.documentation-page__menu__section__title {
  font-weight: bold;
  padding: var(--spacing-half) var(--spacing-base);
}

.documentation-page__related-pages {
  column-gap: var(--spacing-2x);
  display: grid;
  grid-template-areas: "prev next";
  grid-template-columns: repeat(2, 1fr);
  margin-top: var(--spacing-base);
}

.documentation-page__related-pages__link {
  align-items: center;
  column-gap: var(--spacing-half);
  display: flex;
  font-style: italic;
  padding: var(--spacing-base) 0;
  text-decoration: none;
}

.documentation-page__related-pages__link.documentation-page__related-pages__link--next {
  grid-area: next;
  text-align: right;

  &::after {
    content: "→";
  }
}

.documentation-page__related-pages__link.documentation-page__related-pages__link--prev {
  grid-area: prev;

  &::before {
    content: "←";
  }
}

.documentation-page__toc {
  grid-area: toc;
  padding: var(--spacing-2x);
}
