@import url("./_fonts.css");
@import url("./_formatted-text.css");
@import url("./_reset.css");
@import url("./_variables.css");

.page-navigation {
  background-color: #ffffffaa;
  backdrop-filter: blur(10px);
  flex-direction: column;
  grid-template-columns: auto 1fr;
  padding: var(--spacing-half) 0;
  position: sticky;
  top: 0;
}

.page-navigation__group {
  display: flex;
  flex-direction: row;
}

.page-navigation__link {
  align-items: center;
  display: inline-flex;
  padding: var(--spacing-half) var(--spacing-base);
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}

.page-navigation__link.section-create-content {
}

.page-navigation__link.section-leverage-content {
}

.page-navigation__link.section-analyze-content {
}

.page-navigation__link.section-active.active {
  /* background-color: var(--color-highlight); */
  /* border-radius: 20px 30% 20px 20%; */
}

.page-navigation__track {
  display: flex;
  flex-direction: row;
  height: var(--height-primary-navigation-track);
  row-gap: var(--spacing-half);
}

.page-navigation__track.page-navigation__track--bottom {
  grid-area: track-bottom;
}
